
.icon-phone-circled:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-mobile:before { content: '\e806'; } /* '' */
.icon-quote-left-1:before { content: '\e807'; } /* '' */
.icon-quote-right-1:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
.icon-email:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-eye-outline:before { content: '\e80c'; } /* '' */
.icon-exchange:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-info:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-suitcase:before { content: '\e811'; } /* '' */
.icon-calendar:before { content: '\e812'; } /* '' */
.icon-location-1:before { content: '\e813'; } /* '' */
.icon-heart-filled:before { content: '\e814'; } /* '' */
.icon-edit:before { content: '\e815'; } /* '' */
.icon-th-list:before { content: '\e816'; } /* '' */
.icon-th:before { content: '\e817'; } /* '' */
.icon-money:before { content: '\e818'; } /* '' */
.icon-play:before { content: '\e81c'; } /* '' */
.icon-down-small:before { content: '\e822'; } /* '' */
.icon-left-small:before { content: '\e823'; } /* '' */
.icon-right-small:before { content: '\e824'; } /* '' */
.icon-up-small:before { content: '\e825'; } /* '' */
.icon-down-dir:before { content: '\e826'; } /* '' */
.icon-left-dir:before { content: '\e827'; } /* '' */
.icon-right-dir:before { content: '\e828'; } /* '' */
.icon-up-dir:before { content: '\e829'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */